{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}" />

<div class="row text-center border-bottom">
  <div class="col">
    <a href="{% url 'board'%}" style="color: black"> anonymous </a>
  </div>
  <div class="col">
    <div id="right_menu">
      {% if request.user.is_authenticated %}

      <a href="{% url 'post_write' %}" style="color: #345f53"> 글쓰기 </a>
      <a href="{% url 'signout' %}"> 로그아웃 </a>
      <span>{{ request.user.nickname }}님 환영합니다 !</span>
      {% else %}
      <div id="login">
        <a href="{% url 'signin' %}"> 로그인 </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
